@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Color */
  --background: #ffffff;
  --foreground: #252422;
  --primary: #e30613;
  --primary-foreground: #faf9f5;
  --muted: #1d35570d;
  --muted-foreground: #252422;
  --black: #000;
  --white: #fff;
  --transparent: transparent;
  --neutral-900: #111827;
  --grey-100: #252422;

  /* Size */
  --screen-max-width: 1240px;
  --screen-inline-padding: 1rem;
}

@theme inline {
  /* Color */
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-transparent: var(--transparent);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-neutral-900: var(--neutral-900);
  --color-grey-100: var(--grey-100);

  /* Typography */
  /* Font family */
  /* Too many fonts...

    - Inter
    - Kanit
    - Bricolage Grotesque
    - Semantic
    - Space Grotesk
    */

  /* Font Size */
  --text-*: initial;
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 1rem; /* 16px */
  --text-base: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.375rem; /* 22px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 1.875rem; /* 30px */
  --text-5xl: 2.5rem; /* 40px */
  --text-6xl: 2.6875rem; /* 43px */
  --text-7xl: 2.8125rem; /* 45px */
  --text-8xl: 3.375rem; /* 54px */
  --text-9xl: 8rem; /* 128px */
  --text-10xl: 11.875rem; /* 190px */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.wrapper {
  max-inline-size: var(--screen-max-width);
  margin-inline: auto;
  padding-inline: var(--screen-inline-padding);
}

/* Keyframes */
