---
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import { Eye, Target } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about" class="wrapper py-16 md:pt-24 md:pb-12">
  <div class="space-y-14 text-grey-100 mb-16 md:mb-14">
    <h2 class="font-bold text-4xl md:text-[36px] text-center">
      <span class="border-b-4 border-primary">{t("about.title1")}</span>
      {t("about.title2")}
    </h2>
    <p class="text-center max-w-[768px] mx-auto">
      {t("about.subtitle")}
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <div class="border shadow-md border-primary rounded-md p-8 space-y-4">
      <div class="flex items-center gap-4">
        <div class="rounded-full p-3 w-fit bg-primary/10">
          <Target size={32} className="text-primary" />
        </div>
        <h3 class="text-grey-100 text-2xl font-bold">
          {t("about.mission-title")}
        </h3>
      </div>
      <p>
        {t("about.mission-subtitle")}
      </p>
    </div>
    <div class="border shadow-md border-cyan-300 rounded-md p-8 space-y-4">
      <div class="flex items-center gap-4">
        <div class="rounded-full p-3 w-fit bg-azure-200/10">
          <Eye size={32} className="text-azure-200" />
        </div>
        <h3 class="text-grey-100 text-2xl font-bold">
          {t("about.vision-title")}
        </h3>
      </div>
      <p>
        {t("about.vision-subtitle")}
      </p>
    </div>
  </div>
</section>
