---
import {
  angolaTodayLogoImage,
  BoldEventsLogo,
  boldLabsLogoImage,
  LabutaLogo,
} from "@/lib/assets";
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import AreaItem from "./AreaItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const areas = [
  {
    title: t("areas.value1-title"),
    description: t("areas.value1-subtitle"),
    color: "#e6761e",
    logo: angolaTodayLogoImage,
    link: "",
  },
  {
    title: t("areas.value2-title"),
    description: t("areas.value2-subtitle"),
    color: "#57f09f",
    logo: boldLabsLogoImage,
    link: "https://boldlabs.ao/",
  },
  {
    title: t("areas.value3-title"),
    description: t("areas.value3-subtitle"),
    color: "#1D3557",
    logo: BoldEventsLogo,
    link: "https://boldlabs.ao/",
  },
  {
    title: t("areas.value4-title"),
    description: t("areas.value4-subtitle"),
    color: "#2A9D8F",
    logo: LabutaLogo,
    link: "",
  },
];
---

<div id="areas" class="py-24 bg-grey-100/5">
  <section class="wrapper">
    <div class="mb-16 space-y-8">
      <h2 class="font-bold text-4xl md:text-[36px] text-center">
        <span class="border-b-4 border-primary max-w-[768px] mx-auto"
          >{t("areas.title1")}</span
        >
        {t("areas.title2")}
      </h2>
      <p class="text-center max-w-[768px] mx-auto">
        {t("areas.subtitle")}
      </p>
    </div>
    <ul class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      {areas.map((area) => <AreaItem {...area} />)}
    </ul>
  </section>
</div>
