---
import {
  AngolaTodayLogo,
  BoldEventsLogo,
  BoldLabsLogo,
  LabutaLogo,
} from "@/lib/assets";
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import AreaItem from "./AreaItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const areas = [
  {
    title: t("areas.value1-title"),
    description: t("areas.value1-subtitle"),
    color: "#d62e33",
    logo: AngolaTodayLogo,
  },
  {
    title: t("areas.value2-title"),
    description: t("areas.value2-subtitle"),
    color: "#FA7921",
    logo: BoldLabsLogo,
  },
  {
    title: t("areas.value3-title"),
    description: t("areas.value3-subtitle"),
    color: "#1D3557",
    logo: BoldEventsLogo,
  },
  {
    title: t("areas.value4-title"),
    description: t("areas.value4-subtitle"),
    color: "#2A9D8F",
    logo: LabutaLogo,
  },
];
---

<div id="areas" class="py-24 bg-grey-100/5">
  <section class="wrapper">
    <div class="mb-16 space-y-8">
      <h2 class="font-bold text-4xl md:text-[36px] text-center">
        <span class="border-b-4 border-primary max-w-[768px] mx-auto"
          >{t("areas.title1")}</span
        >
        {t("areas.title2")}
      </h2>
      <p class="text-center max-w-[768px] mx-auto">
        {t("areas.subtitle")}
      </p>
    </div>
    <ul class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      {
        areas.map(({ logo: Logo, ...area }) => (
          <AreaItem {...area}>
            <Logo slot="logo" style={`color: ${area.color}`} />
          </AreaItem>
        ))
      }
    </ul>
  </section>
</div>
