---
import { addHexOpacity } from "@/lib/utils";

type Props = {
  color: string;
  title: string;
  description: string;
};

const { color, description, title } = Astro.props;
const cardBackgroundColor = addHexOpacity(color, 10);
console.log(cardBackgroundColor);
---

<li class="shadow-md rounded-md flex flex-col md:flex-row bg-white">
  <div
    style={`background-color: ${cardBackgroundColor}`}
    class="flex justify-center py-6 md:py-0 md:px-20 items-center"
  >
    <slot name="logo" />
  </div>
  <div class="p-6">
    <h3 style={`color: ${color}`} class="font-bold text-2xl mb-4">
      {title}
    </h3>
    <p class="text-grey-100 text-sm">
      {description}
    </p>
  </div>
</li>
