---
import { heroImage } from "@/lib/assets";
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import Image from "astro/components/Image.astro";
import { ArrowDown } from "lucide-react";
import { Link } from "../ui/link";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative">
  <section
    class="wrapper py-16 flex flex-col lg:flex-row items-center lg:items-center gap-7 relative"
  >
    <div class="space-y-6 md:space-y-7">
      <p class="text-lg text-neutral-900 font-medium md:text-8xl md:font-bold">
        {t("hero.title")}
      </p>
      <p class="text-base md:text-sm text-grey-100">
        {t("hero.subtitle")}
      </p>
      <Link href="#about">{t("hero.cta")}<ArrowDown /></Link>
    </div>
    <Image
      class="hidden md:block rounded-2xl"
      src={heroImage}
      alt="Hero Image"
      width={596}
      height={619}
    />
  </section>
  <div
    class="size-96 hidden lg:block bg-primary -z-10 absolute top-10 right-20 opacity-60 rounded-full blur-[100px]"
  >
  </div>
</div>
