---
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import { Speech } from "lucide-react";
import Strategies from "../interactive/strategies";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const strategies = [
  {
    value: "production",
    bulletList: [
      t("strategies.production-point1"),
      t("strategies.production-point2"),
      t("strategies.production-point3"),
    ],
    title: t("strategies.production-title"),
  },
  {
    value: "data",
    bulletList: [
      t("strategies.data-point1"),
      t("strategies.data-point2"),
      t("strategies.data-point3"),
    ],
    title: t("strategies.data-title"),
  },
  {
    value: "empowerment",
    bulletList: [
      t("strategies.empowerment-point1"),
      t("strategies.empowerment-point2"),
      t("strategies.empowerment-point3"),
    ],
    title: t("strategies.empowerment-title"),
  },
  {
    value: "advocacy",
    bulletList: [
      t("strategies.advocacy-point1"),
      t("strategies.advocacy-point2"),
      t("strategies.advocacy-point3"),
    ],
    title: t("strategies.advocacy-title"),
  },
];

const boldLabsPoints = [
  {
    title: t("strategies.bold-labs-point1-title"),
    description: t("strategies.bold-labs-point1-subtitle"),
  },
  {
    title: t("strategies.bold-labs-point2-title"),
    description: t("strategies.bold-labs-point2-subtitle"),
  },
  {
    title: t("strategies.bold-labs-point3-title"),
    description: t("strategies.bold-labs-point3-subtitle"),
  },
];
---

<section id="strategies" class="wrapper py-16">
  <div class="space-y-14">
    <h2 class="font-bold text-4xl md:text-[36px] text-center">
      {t("strategies.title1")}
      <span class="border-b-4 border-primary max-w-[768px] mx-auto"
        >{t("strategies.title2")}</span
      >
    </h2>
    <p class="text-center max-w-[768px] mx-auto">
      {t("strategies.subtitle")}
    </p>
  </div>
  <Strategies lang={lang} content={strategies} client:load />
  <div class="border shadow-md border-azure-200 rounded-md p-8 space-y-4 mt-16">
    <div class="flex items-center gap-4">
      <div class="rounded-full p-3 w-fit bg-azure-200/10">
        <Speech size={32} className="text-azure-200" />
      </div>
      <h3 class="text-grey-100 text-2xl font-bold">
        {t("strategies.bold-labs-title")}
      </h3>
    </div>
    <p>
      {t("strategies.bold-labs-subtitle")}
    </p>
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        boldLabsPoints.map(({ title, description }) => (
          <li class="md:last:col-span-2 lg:last:col-span-1 bg-azure-200/5 p-4 space-y-2">
            <p class="font-bold text-sm">{title}</p>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
