---
import Strategies from "../interactive/strategies";
---

<section class="wrapper py-16">
  <div class="space-y-14">
    <h2 class="font-bold text-4xl md:text-[36px] text-center">
      Estratégias de
      <span class="border-b-4 border-primary max-w-[768px] mx-auto"
        >Posicionamento</span
      >
    </h2>
    <p class="text-center max-w-[768px] mx-auto">
      Nossas estratégias inovadoras nos posicionam na vanguarda da comunicação
      em África, combinando tecnologia, conteúdo autêntico e compromisso social.
    </p>
  </div>
  <Strategies client:load />
</section>
