---
import { Check } from "lucide-react";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<li class="rounded-md p-6 shadow-md flex gap-4">
  <Check className="text-primary" />
  <div class="flex-1">
    <h4 class="font-bold text-grey-100 mb-2">{title}</h4>
    <p class="text-sm text-azure-200">
      {description}
    </p>
  </div>
</li>
