---
import { getLangFromUrl, useTranslations } from "@/lib/utils";
import { Heart } from "lucide-react";
import ValueItem from "./ValueItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const values = [
  {
    title: t("values.value1-title"),
    description: t("values.value1-subtitle"),
  },
  {
    title: t("values.value2-title"),
    description: t("values.value2-subtitle"),
  },
  {
    title: t("values.value3-title"),
    description: t("values.value3-subtitle"),
  },
  {
    title: t("values.value4-title"),
    description: t("values.value4-subtitle"),
  },
];
---

<section class="wrapper pt-4 pb-16 md:pb-16">
  <div class="flex items-center gap-4 justify-center">
    <div class="rounded-full p-3 w-fit bg-orange-500/10">
      <Heart className="text-orange-500" size={32} />
    </div>
    <h3 class="font-bold text-2xl text-grey-100">Nossos Valores</h3>
  </div>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-8">
    {values.map((value) => <ValueItem {...value} />)}
  </ul>
  <div
    class="rounded-4xl bg-azure-200/5 p-8 space-y-4 mt-16 md:mt-14 text-grey-100"
  >
    <h4 class="font-bold text-2xl">{t("values.market-title")}</h4>
    <p>
      {t("values.market-subtitle1")}
    </p>
    <p>
      {t("values.market-subtitle2")}
    </p>
  </div>
</section>
