---
import { LogoSVG } from "@/lib/assets";
import { Menu } from "lucide-react";
---

<header class="py-4 wrapper">
  <div class="flex items-center justify-between">
    <LogoSVG class="text-primary" />
    <button>
      <Menu />
    </button>
  </div>
</header>
