---
import { LogoSVG } from "@/lib/assets";
import NavMenu from "../interactive/nav-menu";
import { Link } from "../ui/link";
---

<header class="py-4 wrapper">
  <div class="flex items-center justify-between">
    <LogoSVG class="text-primary" />
    <NavMenu client:load>
      <Link variant="ghost" className="p-0 h-auto" href="#about">Sobre</Link>
      <Link variant="ghost" className="p-0 h-auto" href="#areas"
        >Áreas de Atuação</Link
      >
      <Link variant="ghost" className="p-0 h-auto" href="#strategies"
        >Estratégias</Link
      >
      <Link variant="ghost" className="p-0 h-auto" href="#contact"
        >Contacto</Link
      >
      <Link href="#contact" className="w-fit mx-auto">Junte-se a Nós</Link>
    </NavMenu>
  </div>
</header>
