---
import AboutUs from "@/components/home/AboutUs.astro";
import AreasSection from "@/components/home/AreasSection.astro";
import ContactSection from "@/components/home/ContactSection.astro";
import Hero from "@/components/home/Hero.astro";
import StrategiesSection from "@/components/home/StrategiesSection.astro";
import Values from "@/components/home/Values.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="mt-14">
    <Hero />
    <AboutUs />
    <Values />
    <AreasSection />
    <StrategiesSection />
    <ContactSection />
  </main>
</Layout>
