---
import "@/styles/global.css";
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Bold Media</title>
  </head>
  <body>
    <slot />
  </body>
</html>
